/* ===================================================
Stylesheet für die Übungsseiten aus "Little Boxes, Teil 1"
Stand:  Druckversion (fertig)
Datei:  druckversion.css
Media:  print
Datum:  2009-04-17 
Autor:  Peter Müller 
=================================================== */

body {
  font-family: Georgia, "Times New Roman", Times, serif; 
  font-size: 11pt; 
}
h1, h2 { font-family: Verdana, Arial, Helvetica, sans-serif; }
h1 {font-size: 24pt; }  
h2 {
  font-size: 18pt;   
  padding-top: 6pt;  /* Abstand zwischen Text und Rahmenlinie */ 
  border-top: 3pt solid #d90000; /* rote Rahmenlinie oben */
  margin-top: 12pt; 
} 
.skiplink,
#navibereich { 
  display: none; 
}
a { 
  color: black ; 
  text-decoration: none; 
}
a[href]:after {
  content:" [Adresse: "attr(href)"] "; /* [URL] nach dem Linktext */
} 
